@section Styles{
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <style>
        thead{
            background-color:black;
            color:white;
        }
    </style>
}
<table class="table table-striped table-hover">
    <thead>
        <td>EmployeeID</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Title</td>
    </thead>
</table>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="//cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.js"></script>

    <script>
        var WebAPIBaseAddress = "https://localhost:44371";
        $(document).ready(function(){
           $('table').dataTable({
               ajax:{
                    type:'GET',
                    url: `${WebAPIBaseAddress}/api/Employees`,
                    dataSrc: function (data) { return data; }
               },columns:[
                            { "data": "employeeId", "width": "25%" },
                            { "data": "firstName", "width": "25%" },
                            { "data": "lastName", "width": "25%" },
                            { "data": "title", "width": "25%" }
               ],fixedHeader:{
                    Headers:true
               
               },language:{
                    url: "//cdn.datatables.net/plug-ins/1.13.2/i18n/zh-HANT.json"
               }
           }); 
        });
    </script>
}