<button id="getEmployees" class="btn btn-success">GetEmployees</button>
<button id="getEmployeesById" class="btn btn-success">getEmployeesById</button>
<button id="postEmployees" class="btn btn-success">postEmployees</button>
<button id="putEmployees" class="btn btn-success">putEmployees</button>
<button id="deleteEmployees" class="btn btn-success">deleteEmployees</button>

@section Scripts{
    <script>
        var WebAPIBaseAddress = "https://localhost:44371";
        $("#getEmployees").on("click",(event)=>{
            //alert("getEmployees");
            fetch(`${WebAPIBaseAddress}/api/Employees`,{
                method:"GET",              
            
            }).then(result=>{
                if(result.ok){
                    return result.json();
                }
            
            }).then(data=>{
                alert(JSON.stringify(data));
            }).catch(err=>{
                alert(err);
            });
        });
        $("#getEmployeesById").on("click",(event)=>{
            //alert("getEmployeesById");
        });
        $("#postEmployees").on("click", (event) => {
            //alert("postEmployees");
        });
        $("#putEmployees").on("click", (event) => {
            //alert("putEmployees");
        });
        $("#deleteEmployees").on("click",(event)=>{
            //alert("deleteEmployees");
        });
    </script>
}