@section Styles{
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <style>
        thead{
            background-color:black;
            color:white;
        }
    </style>
}
<table class="table table-striped table-hover">
    <thead>
        <td>Site</td>
        <td>County</td>
        <td>PM2.5</td>
        <td>Creation Date</td>
    </thead>
</table>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="//cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.js"></script>

    <script>
        $(document).ready(function(){
           $('table').dataTable({
               ajax:{
                    type:'GET',
                    url: "https://data.epa.gov.tw/api/v2/aqx_p_02?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=datacreationdate%20desc&format=JSON",
                    dataSrc: function (data) { return data["records"]; }
               },columns:[
                            { "data": "site", "width": "25%" },
                            { "data": "county", "width": "25%" },
                            { "data": "pm25", "width": "25%" },
                            { "data": "datacreationdate", "width": "25%" }
               ],fixedHeader:{
                    Headers:true
               
               },language:{
                    url: "//cdn.datatables.net/plug-ins/1.13.2/i18n/zh-HANT.json"
               }
           }); 
        });
    </script>
}